/* Reset CSS */
/* Estilos para todo el proyecto */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
/*--------------------------------------------------------------------*/
/*Navbar*/
.navbar{
    background: linear-gradient(to bottom, #19323e, #3E6578);
    margin-bottom: 0.5%;
}
.navbar-brand {
    color: #fff9ed;
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    background-color: black;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0px;
    background-image: linear-gradient(to left, black, #033b8f);
}
.navbar-brand:hover{
    transform: scale(1.05); /* Escala la tarjeta al 105% */
    transition: transform 0.3s ease-in-out; /* Transición más suave al entrar */
}

.nav-link {
    color: white !important; 
    font-size: 1rem; 
    transition: color 0.3s; 
}

.nav-link:hover {
    color: rgb(255, 255, 255) !important;
    background-color: #1b275e;
}
/*---------------------------------------------------------------------------*/


.container {
    margin-top: 20px;
}

.table-responsive {
    overflow-x: auto;
}

.btn {
    margin-right: 10px;
}

/* Estilos adicionales para el modal */
.modal-dialog {
    max-width: 400px;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #343a40;
    color: white;
    border-radius: 10px 10px 0 0;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
    padding: 10px 20px;
}
